{
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:jest/recommended"],
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/no-multi-comp": 0,
    "import/no-extraneous-dependencies": 0,
    "react/require-default-props": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-one-expression-per-line": 0,
  }
}
